


<div class="flex-row">
  <mat-toolbar color="primary">
    <div class="flex flex-row">
      <button mat-button routerLink="/accueil" disabled>

        <img (click)="retourHome()" class="logo" src="assets/img/icon.png" alt="logo">
      </button>
    </div>
    <div class="flex8 flex-column">
        <div class="flex-row text-align-left">
          <div class="flex2 bar_navbar">
            <div class="btn-group"  role="group" aria-label="Button group with nested dropdown">
              <button [hidden]="nodeLoaded" mat-raised-button color="primary" (mouseover)="getNodes()">
                Toutes nos categories
                <mat-icon>expand_more</mat-icon>
              </button>
              <div *ngIf="nodeLoaded">
                <span *ngFor="let item of navItems">
                  <!-- Handle branch node buttons here -->
                  <span *ngIf="item.children && item.children.length > 0">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu"  >
                      {{item.nomCategorie}}
                      <mat-icon>expand_more</mat-icon>
                    </button>
                    <app-menu-item #menu [items]="item.children"></app-menu-item>
                  </span>
                  <!-- Leaf node buttons here -->
                  <span *ngIf="!item.children || item.children.length === 0">
                    <button mat-button color="primary">
                      {{item.nomCategorie}}
                    </button>
                  </span>
                </span>
              </div>

            </div>
            <button class="cancelButton" [hidden]="!categorieHasBeenSelected" mat-button (click)="CancelCategorieChoice()" >
              <mat-icon>cancel</mat-icon>
            </button>

            <!--Formulaire de recherche-->
            <form class="form-inline search_bar" #searchForm="ngForm" (ngSubmit)=" submitSearch()">
              <input class="form-control mr-sm-2 search_input" type="text" placeholder="Rechercher un produit" aria-label="Search"
                     name="searchedText"
                     [(ngModel)]="produit.nom"
                     #name="ngModel">
              <button class="btn btn-success my-2 my-sm-0 search_button" type="submit"><i class="fa fa-search"></i></button>
            </form>

          </div>
          <div class="flex"></div>
        </div>
        <div class="flex-row">
          <div class="flex text-align-left">
            <button mat-button routerLink="/produit" class="enlever_focus_bleu" disabled>
              <mat-icon>help</mat-icon>
              Aide
            </button>
          </div>
          <div class="flex text-align-right">
            <button mat-button routerLink="/produit" class="enlever_focus_bleu" disabled>
              <mat-icon>group</mat-icon>
              Profil
            </button>
            <button mat-button routerLink="/produit" class="enlever_focus_bleu" disabled>
              <mat-icon>shopping_cart</mat-icon>
              Panier
            </button>
          </div>
        </div>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
