<div class="flex-row">
  <mat-toolbar color="primary">
    <div class="flex flex-row">
      <button disabled mat-button routerLink="/accueil">

        <img (click)="retourHome()" alt="logo" class="logo" src="assets/img/icon.png">
      </button>
    </div>
    <div class="flex8 flex-column">
      <div class="flex-row text-align-left">
        <div class="flex2 bar_navbar">
          <div aria-label="Button group with nested dropdown" class="btn-group" role="group">
            <button (mouseover)="getNodes()" [hidden]="nodeLoaded" color="primary" mat-raised-button>
              Toutes nos categories
              <mat-icon>expand_more</mat-icon>
            </button>
            <div *ngIf="nodeLoaded">
                <span *ngFor="let item of navItems">
                  <!-- Handle branch node buttons here -->
                  <span *ngIf="item.children && item.children.length > 0">
                    <button [matMenuTriggerFor]="menu.childMenu" color="primary" mat-raised-button>
                      {{item.nomCategorie}}
                      <mat-icon>expand_more</mat-icon>
                    </button>
                    <app-menu-item #menu [items]="item.children"></app-menu-item>
                  </span>
                  <!-- Leaf node buttons here -->
                  <span *ngIf="!item.children || item.children.length === 0">
                    <button color="primary" mat-button>
                      {{item.nomCategorie}}
                    </button>
                  </span>
                </span>
            </div>

          </div>
          <button (click)="CancelCategorieChoice()" [hidden]="!categorieHasBeenSelected" class="cancelButton"
                  mat-button>
            <mat-icon>cancel</mat-icon>
          </button>

          <!--Formulaire de recherche-->
          <form #searchForm="ngForm" (ngSubmit)=" submitSearch()" class="form-inline search_bar">
            <input #name="ngModel" [(ngModel)]="produit.nom" aria-label="Search"
                   class="form-control mr-sm-2 search_input"
                   name="searchedText"
                   placeholder="Rechercher un produit"
                   type="text">
            <button class="btn btn-success my-2 my-sm-0 search_button" type="submit"><i class="fa fa-search"></i>
            </button>
          </form>

        </div>
        <div class="flex"></div>
      </div>
      <div class="flex-row">
        <div class="flex text-align-left">
          <button class="enlever_focus_bleu" disabled mat-button routerLink="/produit">
            <mat-icon>help</mat-icon>
            Aide
          </button>
        </div>
        <div class="flex text-align-right">
          <button class="enlever_focus_bleu" disabled mat-button routerLink="/produit">
            <mat-icon>group</mat-icon>
            Profil
          </button>
          <button class="enlever_focus_bleu" disabled mat-button routerLink="/produit">
            <mat-icon>shopping_cart</mat-icon>
            Panier
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
