
/* Fil d'ariane des catégories */
#catbreadcrumb {
  color: cornflowerblue;
  margin-bottom: 10px;
}

#catduproduit {
  color: darkorange;
}


.produit_image {
  width: 100%;
  margin-right: 15px;
  background-color: #F2F2F2;
  align-items: center;/* aligne l'image horizontalement*/
  justify-content: center; /* aligne l'image verticalement*/
  padding: 20px;
  border: 1px solid lightgrey;
}
.name_container{
  margin-top: 10px;
  font-size: 2.5rem;
  height: 10%;
}
.produit_image > img {

  height: 60%;
  width: 60%;
}

.produit_container{
  height: 80%;
  min-height: 750px;
  min-width: 750px;
  margin-left: 15%;
  margin-right: 15%;

}
.top_container{
  margin-top: 15px;
  height: 70%;
}
.detail_container{
}
.purchase {
  justify-content: center;
}
.purchase>button{
  width: 100%;
  height: 100%;

}


.ref{
  font-style: italic;
}

.contenu_description{
  background-color: grey;
}

.produit_image{
  align-items: center;: center;
}
.prix{
  align-items: center;
}
.valeurPrix{
  font-size: 2.25rem;
}

.descriptifPrix{
  text-align: right;
  right: 0;
  font-size: 1.10rem;
  font-style: italic;
  color: grey;
}
.detail_container > div{
  padding: 10px;
}

.produit_image2{
  width: 100%;
  align-items: center;
  justify-content: center;
}
.produit_image2 > img{
  height: 100%;
  width: 100%;
}



