.avisArea{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}



.produit_image {
  display: flex;
  margin-right: 15px;
  background-color: #F2F2F2;
  align-items: center;/* aligne l'image horizontalement*/
  justify-content: center; /* aligne l'image verticalement*/
  padding: 20px;
  border: 1px solid lightgrey;
}
.name_container{
  margin-top: 10px;
  font-size: 2.5rem;
  height: 10%;
}
.produit_image > img {
  height: 310px;
}

.produit_container{
  height: 80%;
  min-height: 750px;
  min-width: 750px;
  margin-left: 15%;
  margin-right: 15%;

}
.top_container{
  margin-top: 15px;
  height: 70%;
}
.detail_container{
}
.purchase {
  justify-content: center;
}
.purchase>button{
  width: 100%;
  height: 100%;

}


.ref{
  font-style: italic;
}

.contenu_description{
  background-color: grey;
}


.prix{
  align-items: center;
}
.valeurPrix{
  font-size: 2.25rem;
}

.descriptifPrix{
  text-align: right;
  right: 0;
  font-size: 1.10rem;
  font-style: italic;
  color: grey;
}
.detail_container > div{
  padding: 10px;
}


.commentaire {
  margin: 5px;
  width: 80%;
}
.ajoutAvis{
  display: flex;
  flex-direction: column;
}
.textAreaCommentaire{
  height: 75px;
}
.stars{
  color:#f1c40f;
  padding-bottom: 30px;
}
.ratingComponent{
  color:#f1c40f;
}
.slideshowImg{
  height: 100%;
  width: 100%;
}
