<head>
  <title>Page Detail Produit</title>
</head>
<div class="flex-column core produit_container">

  <div class="flex4 flex-row top_container" >

    <div class="flex3 flex-column produit_image" >
      <img
        src="../../../assets/img/1024px-Emblem-question.svg.png" alt="produit image"
        width="300" height="100">
    </div>
    <div class="flex2 flex-column detail_container">
      <div class="flex price"><span>120$</span></div>

      <div class="flex flex-row purchase"><button mat-raised-button color="warn" >Add to cart</button></div>


      <div class="flex3 flex-column description">
        <h1>Description</h1>
        <p>Voici notre produit il est genial et très interessant et cette description est pas longue</p>
      </div>
      <div class="flex ref"><span>REF A20840</span></div>
      <div class="flex flex-row categorie">
        <mat-chip-list>
          <mat-chip>Livre</mat-chip>
          <mat-chip>Livre educatif</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="flex"></div>
  <div class="flex4 flex-column additionalDetail_container">
    <div class="flex">
      <h1>Informations additionnel</h1>

    </div>
    <div class="flex4 flex-row descriptionAdditionnel">
      <div class="flex">
        <p> Ma description additionnel blad zdazdzadaz dazd az tfuvygbuhinj,oiuybrctexzrctbhuyjn,oik; </p>
      </div>
      <div class="flex2 produit_image2">
        <img
          src="../../../assets/img/1024px-Emblem-question.svg.png" alt="produit image"
          width="300" height="100">
      </div>
    </div>
  </div>


</div>
